*, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body, html {
	height: 100%;
}
body {
	background: $bg-body;
	margin: 0;
	padding: 0;
	font-family: $base-font;
	line-height: 20px;
	font-size: 14px;
	font-weight: 500;
	color: $base-font-color;
	-webkit-font-smoothing: antialiased;
}

img {max-width: 100%;}

a {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}

h1, h2, h3, h4 {
	font:{
		family: $base-font-title;
		weight: 600;
	}
}

.project-name {
  text-align: center;
  padding: 10px 0;
}

// Header
header {
	background: $secondary-color;
	padding: 10px;
	@include prefix(box-shadow, 0 3px 3px rgba(0,0,0,0.05));
	@extend %clearfix;

	.logo {
		color: $primary-color;
		float: left;
		font:{
			family: $base-font-title;
			size: 22px;
			weight: 600;
		}

		> span {
			color: lighten($primary-color, 20%);
			font-weight: 500;
		}
	}

	.social {
		float: right;
		.btn {
			font: {
				family: "Dosis";
				weight: 600;
				size: 14px;
			}
			margin: 10px 5px;
		}
	}
}

// Timeline
#timeline {
	width: 100%;
	margin: 20px auto;
	position: relative;
	@include prefix(transition, all .4s ease);

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: $timeline-color;
		//left: 50%;
		top: 0;
		position: absolute;
	}

	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}

	.timeline-item {
		margin-bottom: 50px;
		position: relative;
		@extend %clearfix;

		.timeline-icon {
			background: $timeline-color;
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			//left: 50%;
			overflow: hidden;
			margin-left: -23px;
			@include prefix(transition, all .5s ease);
			@include prefix(border-radius, 50%);

			img {
				position: relative;
				top: 14px;
				left: 14px;
				@include prefix(transition, all .5s ease);
			}
		}


		.timeline-icon:hover {
			margin-left: -30px;
			box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
		}


		.timeline-content {
			width: 20%;
			background: #fff;
			padding: 20px;
			@include prefix(box-shadow, 0 3px 0 rgba(0,0,0,0.1));
			@include prefix(border-radius, 5px);
			@include prefix(transition, all .3s ease);
			margin-left : 3.3%;

			h2 {
				padding: 15px;
				background: $timeline-color;
				color: #fff;
				margin: -20px -20px 0 -20px;
				font-weight: 500;
				text-align: center;
				@include prefix(border-radius, 3px 3px 0 0);
			}

			&:before {

				content: '';
				position: absolute;
				left: 2.7%;
				top: 20px;
				width: 0;
				height: 0;
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				border-right:7px solid $timeline-color;
			}

			&.first {
				display:table-cell;
				width:30%;
				float:left;
			}

			&.second {
				display:table-cell;
				width:30%;
				float:left;
				&:before {
					left: 36%;
				}

			}
			&.third {
				display:table-cell;
				width:30%;
				float:left;
				&:before {
					left: 69.3%;
				}
			}
		}
	}
}

#row {
	display:table-row;
	width:100%;
	position: relative;
	left:5%;
}


// Buttons
.btn {
	padding: 5px 15px;
	text-decoration: none;
	background: transparent;
	border: 2px solid lighten($primary-color, 10%);
	color: lighten($primary-color, 10%);
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-size: 12px;
	@include prefix(border-radius, 5px);
	@include prefix(transition, background .3s ease);
	@include prefix(box-shadow, 2px 2px 0 lighten($primary-color, 10%));

	&:hover {
		box-shadow: none ;
		top: 2px;
		left: 2px;
		@include prefix(box-shadow, 2px 2px 0 transparent);
	}
}

// Grid
ol.thumb-grid {
	padding:0px;

	li{
		float: left;
		width: 37%;
		margin: 0 0 5% 0;
		list-style:none;

		a img {
			width: 110px;
		  height:104px;
			//max-height:100%;
		}
	}
	li:nth-child(2n) {
		margin-right: 0;
	}

	.img-bar{
			background-color:$light-red;
			width:8%;
			margin: 0 5% 0 0;
			float:left;
			padding: 2% 0 20% 1%;
			@include prefix(border-radius, 0 3px 0 0);
	}

}
.icon {
	color:#D5393B;
}

#tweets {
	width: 115%;
	margin:0 0 0 -20px;
	ol.tweet-stream {
		padding:0;
		overflow: hidden;
		margin-top:0;
	}
	ol.tweet-stream li {
		float: left;
		width: 100%;
		padding:0 0 0 20%;
		margin: 0 0 0 0;
		list-style:none;

		&:before {
			content: "";
			margin:0 0 0 -26%;
			display: block;
			height: 1px;
			width: 126%;
			background: #fad6d6;
		}
		&:hover {
			background-color:#fdf1f1;
		}

		div {
			width:100%;
			margin:0;
			padding: 2% 0 0 0;
			.avatar {
				margin: 0 0 0 -23%;
				width:20%;
				float:left;
			}
		}

		.tweet-content{
			padding: 2% 0 0 0;
		}
	}
}
.fullname{
	position:absolute;
}

.username{
	position:relative;
}

@media screen and (max-width: 768px) {
	#timeline {
		margin: 30px;
		padding: 0;
		&:before {
			left: 0;
		}

		.timeline-item {
			.timeline-content {
				width: 90%;
				float: right;

				&:before, &.right:before {
					left: 10%;
					margin-left: -6px;
					border-left: 0;
					border-right: 7px solid $timeline-color;
				}
			}

			.timeline-icon {
				left: 0;
			}
		}
	}
}
